/* *{
    transition: .4s;
} */

html, body {
    height: 100%;
  }

.poppins{
    font-family: 'Poppins', sans-serif;
}

.text-hijau-2{
    color: #034827 !important;
}
.bg-hijau-2{
    background-color: #034827 !important;
}

.bg-hijau{
    background-color:#026E3A !important;
}
.bg-hijau-navbar{
    background-color:#026e3ad2 !important;
}

.text-hijau{
    color: #026E3A !important;
}

.text-orange{
    color: #E58037 !important;

}

.container {
    position: relative;
  }

.text-hero {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight:bold;

  }
  
.hero{ 
    height: 100%;
    background-image: url('../img/background-1.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    width: 100%;
  }
.hero-tentang{ 
    height: 100%;
    background-image: url('../img/background-3.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    width: 100%;
  }

  .hero-login{ 
    height: 100%;
    background-image: url('../img/background-4.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    width: 100%;
  }

  .hero-kampanye{ 
    height: 100%;
    background-image: url('../img/background-5.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    width: 100%;
  }

  .hero-partner{ 
    height: 100%;
    background-image: url('../img/background-6.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    width: 100%;
  }

#logout:hover{
color: white;
}

.btn-mulai-aksi{
    color: aliceblue;
    border: 3px solid white;
    border-radius: 2em;
}

.btn-mulai-aksi:hover{
    color: aliceblue;
    border: 3px solid white;
    border-radius: 2em;
    background-color: #026e3a8c;
}

.btn-pelajari{
    background-color: #026E3A;
    color: aliceblue;
    border-radius: 2em;
    border: 3px solid #026E3A;

}
.btn-pelajari:hover{
    border: 3px solid #026E3A;
    background-color: #ffffff;
}

.responsive-iframe {

    width: 100%;
    height: 100%;
    border: none;
    border-radius: .5em;
}

.content-2{
    background-image: url('../img/background-2.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

.content-2 .card{
    background-color: rgba(255, 255, 255, 0.404) !important;
}

.footer a{
    color: rgb(214, 214, 214);
    
}

.footer a:hover{
    text-decoration: none;
    color: #af4900;
}

.footer li{
    padding: 5px 0;
}

.footer hr{
    background-color: #48586d;
    height: 2px;
}

.list-active{
    border-left: 4px solid #026E3A !important;
    background-color: #026e3a1c;
}

.list li{
    border-radius: 0 !important;
    cursor: pointer;
}

.list li:hover{
    background-color: #026e3a1c;
    border-left: 4px solid #026E3A !important;

}

.btn-to-daftar{
    color: white;
    border: 2px solid white;
    border-radius: 2em;
}

.btn-to-daftar:hover{
    color: white;
    border: 2px solid white;
    border-radius: 2em;
    background-color: #026E3A;
}

.hero-login .form-input input{
    padding-left: 40px;
   background-color: rgb(23,115,81,.55);
   color: white;
   margin: 10px 0;
}

.hero-login .form-input input:focus{
    padding-left: 40px;
   background-color: rgb(23,115,81,.55);
   color: white;
   border: none;
}

.hero-login .form-input input::placeholder {
   color: white;

}

.hero-login .form-input{
    position: relative;
}

.hero-login .form-input i{
    position: absolute;
    left: 4px;
    top: 0px;
    padding: 9px 8px;
    color: white;
}

.form-input-regis input{
    padding-left: 40px;
   background-color: rgba(255, 255, 255, 0.55);
   color: rgb(0, 0, 0);
   margin: 10px 0;
}

.form-input-regis input:focus{
    padding-left: 40px;
   background-color:  rgba(255, 255, 255, 0.55);
   color: #000000;
   border: none;
}

.form-input-regis input::placeholder {
   color: #026E3A;

}

.form-input-regis{
    position: relative;
}

.form-input-regis i{
    position: absolute;
    left: 4px;
    top: 0px;
    padding: 9px 8px;
    color: #026E3A;
}

.btn-login{
    color: #026E3A;
    border: 2px solid #026E3A;
    border-radius: 2em;
}

.btn-login:hover{
    color: white;
    border: 2px solid #026E3A;
    border-radius: 2em;
    background-color: #026E3A;
}

.nav-divider{
    width: 1px;
    height: calc(100% - 8px);
    display: inline-block;
    margin: 4px 1.25rem;
    background-color: #eeecff;
}

.bg-hijau-tua{
    background-color: #1b81504b;
    border-radius: 10px;
}
.bg-hijau-tua:focus{
    border: none !important;
}

.bg-hijau-tua:hover{
    background-color: #026e3acb;
    border-radius: 10px;
}

.btn-user{
    border: none;
    background-color: #1b815000;
    color: white !important;
    border-radius: 10px;

}

.btn-user:active{
    border: none !important;
}

.btn-user:hover{
    background-color: #003a1e3b;
    border-radius: 10px;
}

.kampanye img{
    border-radius: 0;
}

.kampanye button{
    background-color: white;
    border: 3px solid #026E3A;
    border-radius: 2em;
    color: #026E3A;
    padding: 3px 30px;
}

.kampanye button:hover{
    background-color: #026E3A;
    border: 3px solid #026E3A;
    border-radius: 2em;
    color: #FFFFFF;
    padding: 3px 30px;
}
.kampanye button:focus{
    /* border: none !important; */
}


.kampanye-modal .form-input input{
    padding-left: 40px;
   background-color: #034827;
   color: white;
   margin: 10px 0;
}

.kampanye-modal .form-input input:focus{
    padding-left: 40px;
   background-color: #034827;
   color: white;
   border: none;
}

.kampanye-modal .form-input input::placeholder {
   color: white;

}

.kampanye-modal .form-input{
    position: relative;
}

.kampanye-modal .form-input i{
    position: absolute;
    left: 4px;
    top: 2px;
    padding: 9px 8px;
    color: white;
}

/* textarea */

.kampanye-modal .form-group textarea{
    padding-left: 40px;
   background-color: #034827;
   color: white;
   margin: 10px 0;
}

.kampanye-modal .form-group textarea:focus{
    padding-left: 40px;
   background-color: #034827;
   color: white;
   border: none;
}

.kampanye-modal .form-group textarea::placeholder {
   color: white;

}

.kampanye-modal .form-group{
    position: relative;
}

.kampanye-modal .form-group i{
    position: absolute;
    left: 4px;
    top: 2px;
    padding: 9px 8px;
    color: white;
}

.kampanye-modal .btn-sebarkan{
    background-color: white;
    border: 3px solid #026E3A;
    border-radius: 2em;
    color: #026E3A;
    padding: 3px 30px;
}

.kampanye-modal .btn-sebarkan:hover{
    background-color: #026E3A;
    border: 3px solid #026E3A;
    border-radius: 2em;
    color: #FFFFFF;
    padding: 3px 30px;
}

.dropdown-menu{
    margin-top: 10px;
    background-color: #026e3ac7 !important;
    border: none;
}
.dropdown-menu a:hover{
    background-color: #026e3ac7 !important;
    border: none;
}
.dropdown-menu a{
   color: white;
}

#content-faq{
    cursor: pointer;
    box-shadow: 0px 0px 10px #bfc3c7;

}
#content-faq:hover{
    cursor: pointer;
    transition: .6s;
    box-shadow: 0px 0px 20px #026e3a6e;

}

/* partner */

.card-header{
    border-radius: 10px 10px 0 0 !important;
}

.card-footer{
    border-radius: 0 0 10px 10px !important;
}

.partner button{
    border: 2px solid white;
    background-color: #00000000;
    color: white;
    border-radius: 2em;
    transition: .8s;
}

.partner button:hover{
    background-color: #1d9c1db9;
    transition: .8s;
    color: white;

}


.donasi-modal .form-input input{
    padding-left: 40px;
   background-color: #034827;
   color: white;
   margin: 10px 0;
   border: 3px solid white;
}

.donasi-modal .form-input input:focus{
    padding-left: 40px;
   background-color: #034827;
   color: white;
   border: none;
   border: 3px solid white;

}

.donasi-modal .form-input input::placeholder {
   color: white;

}

.donasi-modal .form-input{
    position: relative;
}

.donasi-modal .form-input i{
    position: absolute;
    left: 4px;
    top: 2px;
    padding: 9px 8px;
    color: white;
}

/* select */

.donasi-modal .form-group select{
    padding-left: 40px;
   background-color: #034827;
   color: white;
   margin: 10px 0;
   border: 3px solid white;
}

.donasi-modal .form-group select:focus{
    padding-left: 40px;
   background-color: #034827;
   color: white;
   border: none;
   border: 3px solid white;

}

.donasi-modal .form-group select:active{
    padding-left: 40px;
   background-color: #034827;
   color: white;
   border: none;
}

.donasi-modal .form-group select::placeholder {
   color: white;

}

.donasi-modal .form-group{
    position: relative;
}

.donasi-modal .form-group i{
    position: absolute;
    left: 4px;
    top: 2px;
    padding: 9px 8px;
    color: white;
}

/* textarea */

.donasi-modal .form-group textarea{
    padding-left: 40px;
   background-color: #034827;
   color: white;
   margin: 10px 0;
   border: 3px solid white;

}

.donasi-modal .form-group textarea:focus{
    padding-left: 40px;
   background-color: #034827;
   color: white;
   border: none;
   border: 3px solid white;

}

.donasi-modal .form-group textarea::placeholder {
   color: white;

}

.donasi-modal .form-group{
    position: relative;
}

.donasi-modal .form-group i{
    position: absolute;
    left: 4px;
    top: 2px;
    padding: 9px 8px;
    color: white;
}

/* btn-donasikan */
.btn-donasikan{
    border: 2px solid white;
    border-radius: 2em;
    color: white;
}
.btn-donasikan:hover{
    border: 2px solid white;
    border-radius: 2em;
    color: white;
    background-color: #026E3A;
}